## Let's explore first the csv files

In [2]:
# Imports:
import pandas as pd
import requests

In [3]:
df_bicimad=pd.read_csv('../data/bicimad_stations.csv', sep='\t', index_col=0)
df_bicimad.head()

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]"
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]"
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]"
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]"
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]"

In [4]:
df_bicimad.info()

<class 'pandas.core.frame.DataFrame'>
Index: 264 entries, 0 to 263
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    264 non-null    int64
 1   name                  264 non-null    object
 2   light                 264 non-null    int64
 3   number                264 non-null    object
 4   address               264 non-null    object
 5   activate              264 non-null    int64
 6   no_available          264 non-null    int64
 7   total_bases           264 non-null    int64
 8   dock_bikes            264 non-null    int64
 9   free_bases            264 non-null    int64
 10  reservations_count    264 non-null    int64
 11  geometry.type         264 non-null    object
 12  geometry.coordinates  264 non-null    object
dtypes: int64(8), object(5)
memory usage: 28.9+ KB

In [5]:
print(df_bicimad.loc[0, "geometry.coordinates"])
print(type(df_bicimad.loc[0, "geometry.coordinates"]))
df_bicimad.loc[0, "geometry.coordinates"].replace("[", "").replace("]", "").replace(" ","").split(",")

[-3.7018341, 40.4172137]
<class 'str'>

['-3.7018341', '40.4172137']

In [6]:
def string_to_coordinates(string):
    list_coordinates=[float(element) for element in string.replace("[", "").replace("]", "").replace(" ","").split(",")]
    return list_coordinates

In [7]:
df_bicimad["geometry.coordinates"] = df_bicimad['geometry.coordinates'].apply(lambda row: string_to_coordinates(row))

In [8]:
df_bicimad["longitude_bm"] = df_bicimad['geometry.coordinates'].apply(lambda row: row[0])
df_bicimad["latitude_bm"] = df_bicimad['geometry.coordinates'].apply(lambda row: row[1])
df_bicimad.head()

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,longitude_bm,latitude_bm
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]",-3.701834,40.417214
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]",-3.701603,40.417313
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]",-3.705842,40.420589
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]",-3.706917,40.430294
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]",-3.702587,40.428552

In [9]:
df_bicimad.rename(columns={'id': 'id_bm'}, inplace=True)
df_bicimad.head()

,id_bm,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,longitude_bm,latitude_bm
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]",-3.701834,40.417214
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]",-3.701603,40.417313
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]",-3.705842,40.420589
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]",-3.706917,40.430294
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]",-3.702587,40.428552

In [10]:
df_bicipark=pd.read_csv('../data/bicipark_stations.csv', sep=';', index_col=0)
df_bicipark.head()

,stationId,stationName,address,city,zip_code,total_places,free_places,enabled,reserved_places,geometry.type,geometry.coordinates
0,74,Bicipark Fuente de la Mora,Estación de Fuente de la Mora,Madrid,28050,10,9,1,0,Point,"[-3.6630679, 40.4846838]"
1,22,Bicipark Orense,"Avenida General Perón, 27",Madrid,28020,15,9,1,1,Point,"[-3.693897, 40.452973]"
2,49,Bicipark Montalban,"Calle de Montalbán, 5",Madrid,28014,16,15,1,0,Point,"[-3.690786, 40.418146]"
3,12,Bicipark Almagro,"Calle Almagro, 11",Madrid,28010,16,12,1,0,Point,"[-3.692879, 40.430361]"
4,9,Bicipark Recoletos,"Paseo de Recoletos, 2",Madrid,28001,10,3,0,0,Point,"[-3.692245, 40.420354]"

In [11]:
df_bicipark.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 0 to 10
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   stationId             11 non-null     int64
 1   stationName           11 non-null     object
 2   address               11 non-null     object
 3   city                  11 non-null     object
 4   zip_code              11 non-null     object
 5   total_places          11 non-null     int64
 6   free_places           11 non-null     int64
 7   enabled               11 non-null     int64
 8   reserved_places       11 non-null     int64
 9   geometry.type         11 non-null     object
 10  geometry.coordinates  11 non-null     object
dtypes: int64(5), object(6)
memory usage: 1.0+ KB

## Access to API REST

https://datos.madrid.es/nuevoMadrid/swagger-ui-master-2.2.10/dist/index.html?url=/egobfiles/api.datos.madrid.es.json#/

In [12]:
API_ENDPOINT="https://datos.madrid.es/egob"
DATASET="/catalogo/300356-0-monumentos-ciudad-madrid.json"

In [13]:
response=requests.get(API_ENDPOINT+DATASET)
response

In [14]:
json_data=response.json()

In [15]:
#json_data

In [16]:
data=json_data["@graph"]
#data

In [17]:
df=pd.DataFrame(data)

In [18]:
df.head()

,@id,id,title,relation,references,address,location,organization
0,https://datos.madrid.es/egob/catalogo/tipo/mon...,409634,A las víctimas del Holocausto,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,{'district': {'@id': 'https://datos.madrid.es/...,"{'latitude': 40.46432173275739, 'longitude': -...","{'organization-desc': 'La obra, creada por el ..."
1,https://datos.madrid.es/egob/catalogo/tipo/mon...,409512,A los abuelos y abuelas,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,{'district': {'@id': 'https://datos.madrid.es/...,"{'latitude': 40.479811874274304, 'longitude': ...","{'organization-desc': 'Pequeña escultura, situ..."
2,https://datos.madrid.es/egob/catalogo/tipo/mon...,409268,"A Marca, promotor de la San Silvestre Vallecana",https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,{'district': {'@id': 'https://datos.madrid.es/...,"{'latitude': 40.422557815710285, 'longitude': ...",{'organization-desc': 'En recuerdo al diario '...
3,https://datos.madrid.es/egob/catalogo/tipo/mon...,408781,A Neruda-El Ser alado,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,{'district': {'@id': 'https://datos.madrid.es/...,"{'latitude': 40.38185544198019, 'longitude': -...",{'organization-desc': 'Monumento dedicado al e...
4,https://datos.madrid.es/egob/catalogo/tipo/mon...,408836,Abogados Laboristas,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,{'district': {'@id': 'https://datos.madrid.es/...,"{'latitude': 40.41291066085913, 'longitude': -...",{'organization-desc': 'El 24 de enero de 1977 ...

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1841 entries, 0 to 1840
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   @id           1841 non-null   object
 1   id            1841 non-null   object
 2   title         1841 non-null   object
 3   relation      1841 non-null   object
 4   references    1841 non-null   object
 5   address       1841 non-null   object
 6   location      1783 non-null   object
 7   organization  1841 non-null   object
dtypes: object(8)
memory usage: 115.2+ KB

In [20]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1783 entries, 0 to 1837
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   @id           1783 non-null   object
 1   id            1783 non-null   object
 2   title         1783 non-null   object
 3   relation      1783 non-null   object
 4   references    1783 non-null   object
 5   address       1783 non-null   object
 6   location      1783 non-null   object
 7   organization  1783 non-null   object
dtypes: object(8)
memory usage: 125.4+ KB

In [21]:
df_monuments = pd.concat([df.drop(columns=['address', "location", "organization"]), 
                          df['address'].apply(lambda x: pd.Series(x)), 
                          df['location'].apply(lambda x: pd.Series(x)), 
                          df['organization'].apply(lambda x: pd.Series(x))],
                             axis=1)
df_monuments.head()

,@id,id,title,relation,references,district,locality,postal-code,street-address,area,latitude,longitude,organization-desc,organization-name
0,https://datos.madrid.es/egob/catalogo/tipo/mon...,409634,A las víctimas del Holocausto,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,MADRID,,JARDIN TRES CULTURAS,NaN,40.464322,-3.603558,"La obra, creada por el escultor judío de orige...",A las víctimas del Holocausto
1,https://datos.madrid.es/egob/catalogo/tipo/mon...,409512,A los abuelos y abuelas,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,MADRID,,C Alicún,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,40.479812,-3.661719,"Pequeña escultura, situada en un parque delimi...",A los abuelos y abuelas
2,https://datos.madrid.es/egob/catalogo/tipo/mon...,409268,"A Marca, promotor de la San Silvestre Vallecana",https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,MADRID,,Pº Recoletos,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,40.422558,-3.691288,"En recuerdo al diario 'Marca', promotor y difu...","A Marca, promotor de la San Silvestre Vallecana"
3,https://datos.madrid.es/egob/catalogo/tipo/mon...,408781,A Neruda-El Ser alado,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,MADRID,,Gta José Luis Ozores 116,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,40.381855,-3.652419,Monumento dedicado al escritor Pablo Neruda (1...,A Neruda-El Ser alado
4,https://datos.madrid.es/egob/catalogo/tipo/mon...,408836,Abogados Laboristas,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,MADRID,,C Atocha 55,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,40.412911,-3.700017,El 24 de enero de 1977 se produjo un atentado ...,Abogados Laboristas

In [22]:
df_monuments.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1783 entries, 0 to 1837
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   @id                1783 non-null   object
 1   id                 1783 non-null   object
 2   title              1783 non-null   object
 3   relation           1783 non-null   object
 4   references         1783 non-null   object
 5   district           1782 non-null   object
 6   locality           1782 non-null   object
 7   postal-code        1783 non-null   object
 8   street-address     1783 non-null   object
 9   area               1649 non-null   object
 10  latitude           1783 non-null   float64
 11  longitude          1783 non-null   float64
 12  organization-desc  1783 non-null   object
 13  organization-name  1783 non-null   object
dtypes: float64(2), object(12)
memory usage: 208.9+ KB

In [23]:
df_bicimad['key']=1
df_monuments['key']=1

In [25]:
df_merged = pd.merge(df_monuments, df_bicimad, on="key", how="outer")
print(df_merged.shape)
df_merged.head()

(470712, 30)

,@id,id,title,relation,references,district,locality,postal-code,street-address,area,...,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,longitude_bm,latitude_bm
0,https://datos.madrid.es/egob/catalogo/tipo/mon...,409634,A las víctimas del Holocausto,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,MADRID,,JARDIN TRES CULTURAS,NaN,...,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]",-3.701834,40.417214
1,https://datos.madrid.es/egob/catalogo/tipo/mon...,409634,A las víctimas del Holocausto,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,MADRID,,JARDIN TRES CULTURAS,NaN,...,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]",-3.701603,40.417313
2,https://datos.madrid.es/egob/catalogo/tipo/mon...,409634,A las víctimas del Holocausto,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,MADRID,,JARDIN TRES CULTURAS,NaN,...,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]",-3.705842,40.420589
3,https://datos.madrid.es/egob/catalogo/tipo/mon...,409634,A las víctimas del Holocausto,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,MADRID,,JARDIN TRES CULTURAS,NaN,...,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]",-3.706917,40.430294
4,https://datos.madrid.es/egob/catalogo/tipo/mon...,409634,A las víctimas del Holocausto,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,MADRID,,JARDIN TRES CULTURAS,NaN,...,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]",-3.702587,40.428552

In [26]:
from shapely.geometry import Point
import geopandas as gpd

In [27]:
def to_mercator(lat, long):
    # transform latitude/longitude data in degrees to pseudo-mercator coordinates in metres
    c = gpd.GeoSeries([Point(lat, long)], crs=4326)
    c = c.to_crs(3857)
    return c

def distance_meters(lat_start, long_start, lat_finish, long_finish):
    # return the distance in metres between to latitude/longitude pair points in degrees 
    # (e.g.: Start Point -> 40.4400607 / -3.6425358 End Point -> 40.4234825 / -3.6292625)
    start = to_mercator(lat_start, long_start)
    finish = to_mercator(lat_finish, long_finish)
    return start.distance(finish)

In [28]:
df_test=df_merged.head(500)
#df_test

In [29]:
df_test["distance"]=df_test.apply(lambda row: distance_meters(row["latitude"], row["longitude"],
                                                              row["latitude_bm"], row["longitude_bm"]), axis=1)

C:\Users\Kristina\AppData\Local\Temp\ipykernel_3788\3983528004.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test["distance"]=df_test.apply(lambda row: distance_meters(row["latitude"], row["longitude"],

In [30]:
df_test.head()

,@id,id,title,relation,references,district,locality,postal-code,street-address,area,...,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,longitude_bm,latitude_bm,distance
0,https://datos.madrid.es/egob/catalogo/tipo/mon...,409634,A las víctimas del Holocausto,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,MADRID,,JARDIN TRES CULTURAS,NaN,...,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]",-3.701834,40.417214,12152.077352
1,https://datos.madrid.es/egob/catalogo/tipo/mon...,409634,A las víctimas del Holocausto,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,MADRID,,JARDIN TRES CULTURAS,NaN,...,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]",-3.701603,40.417313,12124.059117
2,https://datos.madrid.es/egob/catalogo/tipo/mon...,409634,A las víctimas del Holocausto,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,MADRID,,JARDIN TRES CULTURAS,NaN,...,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]",-3.705842,40.420589,12404.627842
3,https://datos.madrid.es/egob/catalogo/tipo/mon...,409634,A las víctimas del Holocausto,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,MADRID,,JARDIN TRES CULTURAS,NaN,...,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]",-3.706917,40.430294,12135.695695
4,https://datos.madrid.es/egob/catalogo/tipo/mon...,409634,A las víctimas del Holocausto,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,{'@id': 'https://datos.madrid.es/egob/kos/Prov...,MADRID,,JARDIN TRES CULTURAS,NaN,...,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]",-3.702587,40.428552,11742.130030

In [31]:
# cuando tenga todo el dataframe completo, debería verificar que no hay duplicados
groupby_object=df_test.groupby(["id"])
test_final=groupby_object[["distance"]].min()
test_final

           distance
id
409512  2986.641380
409634  5559.887276